NEXT_PUBLIC_SUPABASE_URL=https://mwufzpgxwtzexjhsonsp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_secret_Bt8tTUMiM4OgpCDUBWi2BQ__ArpeQVs
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_Dpeimlfwjws3D35NoGEqFA_GkNbH4UZ
